body {
    background-color: #F5F5DC;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.site-header {
    display: flex;
    align-items: center;  
    justify-content: space-between;  
    padding: 10px 0;
    border-bottom: 2px solid #ddd;
}

.logo {
    width: 200px;
    height: auto;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3B1F1F;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.navbar-left a,
.navbar-right a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 0 15px;
}

.navbar-right{
    display: flex;
    align-items: center;
}
.nav-bar a:hover {
    text-decoration: underline;
}

.username {
    color: white;
    margin-right: 10px;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f5f5f5;
    border-top: 2px solid #ddd;
    margin-top: 20px;
}

main {
    padding: 20px 0;
}

.login-container {
    display: flex;
    flex-direction: column;  
    align-items: center;     
    justify-content: center; 
    height: 100vh;  
    padding: 20px;
    text-align: center;
}

.login-title {
    font-size: 32px;
    margin-bottom: 20px;   
}

.login-form {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;  
}

.login-form input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    background-color: #8B4513;  
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
}

.login-form button:hover {
    background-color: #A0522D;  
}

.register-link {
    font-size: 16px;
    margin-top: 10px;  
}

.register-link a {
    color: #FFB6C1;  
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.register-container {
    display: flex;
    flex-direction: column;  
    align-items: center;     
    justify-content: center; 
    height: 100vh;  
    padding: 20px;
    text-align: center;
}

.register-title {
    font-size: 32px;
    margin-bottom: 20px;  
}

.register-form {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;  
}

.register-form input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-form button {
    background-color: #8B4513;  
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.register-form button:hover {
    background-color: #A0522D;  
}

.login-link {
    font-size: 16px;
    margin-top: 10px;
}

.login-link a {
    color: #FFB6C1;  
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.brands-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.brand-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.brand-card:hover {
    transform: scale(1.05);
}

.brand-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.brand-card p {
    font-size: 1em;
    color: #666;
    line-height: 1.4;
}

.products-list {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.products-list h3 {
    font-size: 1.2em;
    color: #4CAF50;
    margin-bottom: 10px;
}

.product-card {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.product-card h4 {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 5px;
}

.product-card p {
    font-size: 0.9em;
    color: #555;
    line-height: 1.4;
    margin: 5px 0;
}
