<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Goodie Treats</title>
</head>
<body>
    <div class="container">
        <header class="site-header">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Goodie Treats Logo" class="logo">

        </header>

        <nav class="nav-bar">
            <div class="navbar-left">
                <a href="/dashboard">Home</a>
                <a href="/products">Brands</a>
                <a href="/recipes">Recipes</a>
            </div>
            <div class="navbar-right">
                {% if user %}
                    <a href="/profile"><span class="username">Hello, {{ user.username }}!</span></a>
                    <a href="/user_info">My Account</a>
                    <a href="/logout">Logout</a>
                {% else %}
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                {% endif %}
            </div>
        </nav>

        <h2>Welcome to Goodie Treats!</h2>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            <p>&copy; 2024 Goodie Treats</p>
        </footer>
    </div>
</body>
</html>
